<head>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-70426409-1', 'auto');
  ga('send', 'pageview');

  </script>
</head>
<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <!-- DOES PUTTING h1 HERE MATTER RATHER THAN LEFT two tabs?-->
      <h1>
        <img src="/public/circlepicture.gif" alt="photo" style="width:228px;height228px"
      
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      <p class="lead">{{ site.description }}</p>
      </h1>
    </div>
    <h3>
    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">Home</a>
      <a href="/pages/About">About Me</a>
      <br><a href="/pages/Why_Pharmacy">Why Pharmacy?</a>
      <br><a href="/pages/Experience">Prof. Experience</a>
      <br><a href="/pages/Extracurriculars">Extracurriculars</a>
      <br><a href="/pages/Photography">Photography</a>
      <br><a href="/pages/Other">Other Interests</a>


      {% comment %}
              The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}
      

      {% assign pages_list = site.pages | <!--sort:"type"--> %}
        <!--###########
        {% unless page.exclude %}
         {% if page.type == 'beta' %}{% endif %}
        {% endunless %}
        #########-->
     <!-- {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}

      <!--span class="sidebar-nav-item">Currently v{{ site.version }}</span-->
    </nav>
    </h3>
  </div>
</div>
